# dependencies
/node_modules

#generated prisma client
/generated

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

#envs
.env
.env.local
.env.development
.env.production
.env.test
# tests
/coverage
/.nyc_output

# dist
/dist